* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: 'Roboto';
}

body {
  background: linear-gradient(150deg, #0f2b05, #000000);
  height: 100vh;
  text-align: center;
}

header {
  padding: 60px;
}

.card {
  width: 354px;
  height: 508px;
  display: inline-block;
  background-image: url(./assets/bg-explorer.svg);
  cursor: pointer;

  user-select: none;
}

.card > img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 115px;
  border: 4px solid yellow;
}

.info {
  margin-top: 95px;
  margin-left: 65px;
  color: white;
  text-align: left;
}

.info h1 {
  font-size: 18px;
  line-height: 140%;
}

.info p {
  font-size: 14px;
  line-height: 160%;
}
